<% include header %>
  
    
    <form action="https://myapp-hrodebert.c9users.io/login/productadded" method="post" >
      Name: <input type="text" name="productName"><br>
      Price: <input type="text" name="price"><br>
    <input type="submit" value="ADD PRODUCT">
    </form>
    <br>
    <br>
    
     
<% include footer %>