<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello, world!</title>
</head>
    

<body>
    <a href='https://myapp-hrodebert.c9users.io/l'>Link</a>
    <br>
    <%= message %>
</body>
</html>