<% include header %>
  
    <p>Hello <%= name %></p>
    
    <a href='https://myapp-hrodebert.c9users.io/'>Back</a>
    
    <p><a href='https://myapp-hrodebert.c9users.io/login/addproduct'>ADD PRODUCT</a></p>
    
    
    
    
<% include footer %>